$color-black: #000;
$color-white: #fff;

$color-neutral1: #a0a0a0;

$color-primary: #3B6F8D;
$color-secondary: #0f0f0f;

$bp-desktop: 1201px;
$bp-mobile: 721px;

$width-limited: 120rem;

$padding-viewport: 2rem;

$font-base: 'Montserrat', sans-serif;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;

$transition: .18s ease-in-out;
