<!DOCTYPE html>
<html lang="en-CA" dir="ltr">
  <head>
    <title>Mcpsy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="header"></header>

    <main class="main">
      <%= yield %>
    </main>

    <footer>
      Footer
    </footer>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
  </body>
</html>
