.add-point {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $padding-viewport;
}

.add-point__icon {
  margin-right: $padding-viewport/2;
}

.add-point__text {

}
